@font-face {
	font-family: 'Roboto';
	src: url('../fonts/RobotoBold/Roboto-Bold.eot');
	src: url('../fonts/RobotoBold/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/RobotoBold/Roboto-Bold.woff') format('woff'),
		url('../fonts/RobotoBold/Roboto-Bold.ttf') format('truetype'),
		url('../fonts/RobotoBold/Roboto-Bold.svg#Roboto-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/RobotoLight/Roboto-Light.eot');
	src: url('../fonts/RobotoLight/Roboto-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/RobotoLight/Roboto-Light.woff') format('woff'),
		url('../fonts/RobotoLight/Roboto-Light.ttf') format('truetype'),
		url('../fonts/RobotoLight/Roboto-Light.svg#Roboto-Light') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/RobotoThin/Roboto-Thin.eot');
	src: url('../fonts/RobotoThin/Roboto-Thin.eot?#iefix') format('embedded-opentype'),
		url('../fonts/RobotoThin/Roboto-Thin.woff') format('woff'),
		url('../fonts/RobotoThin/Roboto-Thin.ttf') format('truetype'),
		url('../fonts/RobotoThin/Roboto-Thin.svg#Roboto-Thin') format('svg');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/RobotoRegular/Roboto-Regular.eot');
	src: url('../fonts/RobotoRegular/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/RobotoRegular/Roboto-Regular.woff') format('woff'),
		url('../fonts/RobotoRegular/Roboto-Regular.ttf') format('truetype'),
		url('../fonts/RobotoRegular/Roboto-Regular.svg#Roboto-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Ubuntu';
	src: url('../fonts/UbuntuLight/Ubuntu-Light.eot');
	src: url('../fonts/UbuntuLight/Ubuntu-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/UbuntuLight/Ubuntu-Light.woff') format('woff'),
		url('../fonts/UbuntuLight/Ubuntu-Light.ttf') format('truetype'),
		url('../fonts/UbuntuLight/Ubuntu-Light.svg#Ubuntu-Light') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Ubuntu';
	src: url('../fonts/UbuntuBold/Ubuntu-Bold.eot');
	src: url('../fonts/UbuntuBold/Ubuntu-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/UbuntuBold/Ubuntu-Bold.woff') format('woff'),
		url('../fonts/UbuntuBold/Ubuntu-Bold.ttf') format('truetype'),
		url('../fonts/UbuntuBold/Ubuntu-Bold.svg#Ubuntu-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello/fontello.eot?31499910');
  src: url('../fonts/fontello/fontello.eot?31499910#iefix') format('embedded-opentype'),
       url('../fonts/fontello/fontello.woff2?31499910') format('woff2'),
       url('../fonts/fontello/fontello.woff?31499910') format('woff'),
       url('../fonts/fontello/fontello.ttf?31499910') format('truetype'),
       url('../fonts/fontello/fontello.svg?31499910#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}