[class^="icon"], [class*=" icon"] {
	vertical-align: middle;
	display: inline-block;
}

.icon-auth {
	width: toRem(20);
	height: toRem(20);
	fill: $lochmara;
}


[class^="ico-"]:before, [class*=" ico-"]:before {
	font-family: "fontello";
	font-style: normal;
	font-weight: normal;
	speak: none;
	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	margin-right: .2em;
	text-align: center;
	font-variant: normal;
	text-transform: none;
	line-height: 1em;
	margin-left: .2em;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.ico-l-open-big:before { content: '\e800'; }
.ico-r-open-big:before { content: '\e801'; }