.txt-gradient {
	display: table;
  margin: 0 auto;
  color: $black;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(130deg, $gradient-txt1-from 0%, $gradient-txt1-to 100%);
  background: -o-linear-gradient(transparent, transparent);
  -webkit-background-clip: text;
}