.devices {
	padding: toRem(60) 0;
	text-align: center;
	.devices__item {
		margin-bottom: toRem(60);
		.item__icon {
			fill: $regent-blue;
			display: block;
			margin-bottom: toRem(40);
			min-height: toRem(165);
		}
	}
	.devices__title {
		font-size: toRem(60);
		font-weight: $font-weight-thin;
		color: $white;
		margin-bottom: toRem(110);
	}
	@include respond-to-max($mobile) {
		padding: toRem(30) 0 toRem(10) 0;
		.devices__title {
			font-size: toRem(30);
		}
		.devices__item {
			.item__icon {
				> svg {
					width: 100%;
				}
			}
		}
	}
}