.form {
	.form__wrap {
		margin-top: 0;
		margin-bottom: 0;
		padding: 0;
		label {
			display: block;
			font-size: toRem(16);
			color: $lochmara;
			padding: 0;
			margin: 0;
			font-family: $font-family-roboto;
			font-weight: $font-weight-regular;
			> span {
				color: $alizarin;
			}
		}
	}
	
	.form-error {
		label {
			color: $alizarin!important;
		}
		.form__input {
			border-bottom-color: $alizarin;
		}
	}

	.form__step {
		display: none;
		&.current {
			display: inherit;
		}
	}

	.form__navigation__steps {
		max-width: toRem(420);
		margin: toRem(65) auto 0 auto;
		position: relative;
	}
	.form__navigation__step {
		display: block;
		width: 33.33%;
		float: left;
		background: transparent;
		border: none;
		outline: none;
		overflow: visible;
		height: 1px;
		position: relative;
		cursor: default;
		> span {
			position: absolute;
			top: 0;
			right: 0;
			left: 0;
			z-index: 1;
		}
		&.rendered {
			&.inactive {
				span:before, span:after {
					background: $lochmara!important;
				}
			}
			&.completed {
				cursor: pointer;
			}
			&:hover {
				span:before, span:after {
					background: $lochmara!important;
				}
			}
		}
		&.completed {
			span:before, span:after {
				background: $alizarin;
			}
			&.inactive {
				span:before, span:after {
					background: $lochmara!important;
				}
			}
		}
		&:first-child {
			position: absolute;
			width: auto;
			span:before {
				display: none;
			}
			span:after {
				right: initial;
				left: toRem(-6);
				top: toRem(-4);
			}
		}
		span:before {
			content: '';
			position: absolute;
			left: 15px;
			right: 15px;
			height: 2px;
			background: $lochmara;
			display: block;
			top: 0;
			z-index: -1;
		}
		span:after {
			content: '';
			position: absolute;
			right: toRem(-6);
			top: toRem(-4);
			width: toRem(12);
			height: toRem(12);
			border-radius: 50%;
			display: block;
			background: $lochmara;
		}
	}

	.form__step__title {
		font-size: toRem(30);
		font-weight: $font-weight-light;
		line-height: 1.8;
	}
	.form__step__text {
		font-size: toRem(16);
		line-height: 1.8;
	}

	.form-error-text {
		color: $alizarin;
		font-size: toRem(14);
		span {
			border-bottom: 1px dotted $alizarin;
		}
	}

	.form__input {
		font-size: toRem(18);
		line-height: 1;
		color: $black;
		font-weight: $font-weight-bold;
		border: none;
		outline: none;
		padding: toRem(4) 0 toRem(4) 0;
		margin-bottom: toRem(13);
		border-bottom: 1px solid $silver;
		width: 100%;
	}

	.form__textarea {
		width: 100%;
		border-radius: 6px;
		margin-top: toRem(9);
		border: 1px solid $silver;
		min-height: toRem(120);
		resize: none;
		color: $black;
		outline: none;
		font-size: toRem(18);
		font-weight: $font-weight-bold;
		padding: toEm(10) toEm(10);
		margin-bottom: toRem(14);
	}

	&.form-style1 {
		.form__wrap {
			margin-bottom: toRem(10);
			label {
				display: block;
				font-size: toRem(14);
			}
			.form__input {
				padding-top: 0;
			}
		}
	}

	&.form-style2 {
		.form__wrap {
			margin-bottom: toRem(18);
			label {
				display: block;
				font-size: toRem(14);
			}
			.form__input {
				padding-top: 0;
			}
		}
		.form__step__text {
			color: $tuatara;
			margin-bottom: 0;
		}
		.form__navigation {
			input[type="submit"] {
				min-width: toRem(170);
			}
		}
	}

	.parsley-errors-list {
		display: none;
	}

	@include respond-to-max($mobile) {
		.form__step__title {
			font-size: toRem(20);
		}
		.form__step__text {
			font-size: toRem(14);
		}
	}
}