.hero {
	padding-bottom: toRem(25);
	.hero__wrapper {
		padding-top: toRem(110);
		padding-bottom: toRem(50);
		background: url('../images/hero-bg.jpg') right top no-repeat;
		background-size: auto 100%;
	}
	.hero__logo {
		margin-bottom: toRem(26);
	}
	.hero__title {
		font-family: $font-family-ubuntu;
		font-weight: $font-weight-bold;
		font-size: toRem(30);
		line-height: toRem(40);
		color: $denim;
		margin: 0;
	}
	.hero__subtitle {
		font-family: $font-family-ubuntu;
		font-weight: $font-weight-light;
		font-size: toRem(30);
		line-height: toRem(40);
		color: $denim;
		margin: 0;
		margin-bottom: toRem(40);
	}
	.hero__legality {
		margin-top: toRem(15);
		color: $silver;
		font-size: toRem(10);
		line-height: 2.2;
	}

	.hero__description {
		padding: toRem(20) 0 toRem(12) 0;
		text-align: center;
	}
	.hero-description__text1 {
		font-size: toRem(18);
		font-weight: $font-weight-light;
		color: $fiord;
		padding-bottom: toRem(8);
		span {
			padding-top: toRem(4);
			display: block;
			font-weight: $font-weight-regular;
			font-size: toRem(12);
		}
	}
	.hero-description__text2 {
		font-size: toRem(12);
		font-weight: $font-weight-light;
	}

	@include respond-to-max($tablet) {
		.hero__wrapper {
			background-position: left top!important;
		}
	}
	@include respond-to-max($mobile) {
		.hero__logo {
			margin-bottom: toRem(20);
		}
		.hero__wrapper {
			padding-top: toRem(93);
			padding-bottom: toRem(20);
		}
		.hero__title, 
		.hero__subtitle {
			font-size: toRem(18);
			line-height: 1.45;
		}
		.hero__subtitle {
			padding-bottom: toRem(15);
		}
		.hero__legality {
			margin-top: toRem(30);
			line-height: initial;
		}
		.bfamily {
			margin: auto;
		}
	}
}