.info {
	padding: toRem(20) 0;
	&.info-style1 {
		padding: toRem(35) 0;
	}
	&.info-style2 {
		.info__title {
			font-weight: $font-weight-thin;
			font-size: toRem(42);
			margin-bottom: toRem(36);
		}
	}
	.info__title {
		font-size: toRem(36);
		line-height: 1.4;
		font-weight: $font-weight-light;
	}
	.info__bfamily {
		max-width: toRem(310);
		margin-left: auto;
		margin-right: auto;
		margin-bottom: toRem(12);
	}

	@include respond-to-max($mobile) {
		padding: toRem(35) 0;
		.info__title {
			font-size: toRem(24);
			text-align: center;
		}
		&.info-style2 {
			.info__title {
				font-size: toRem(30);
				margin-top: 0;
				line-height: 1.2;
			}
		}

		.form {
			margin-top: toRem(35);
			.form__wrap {
				margin-bottom: toRem(25);
			}
			input[type="submit"] {
				margin-left: auto;
				margin-right: auto;
				display: block;
			}
		}
	}
}