.main-footer {
	background-image: url('../images/footer-bg.png');
	background-repeat: no-repeat;
	background-position: right bottom;
	box-shadow: 0 -10px 10px rgba($biscay, 0.1);
	.main-footer__wrap {
		padding-top: toRem(40);
		padding-bottom: toRem(20);
	}
}