.modal {
	.modal-header {
		padding: 0;
		border: none;
		.close {
			position: absolute;
			background: url('../images/close.png') no-repeat;
			width: toRem(15);
			height: toRem(15);
			display: block;
			top: 18px;
			right: 16px;
			z-index: 99;
			opacity: 1;
			outline: none;
		}
	}
	.modal-body {
		padding: toRem(40);
    padding-top: toRem(35);
    padding-bottom: toRem(32);
	}
	.modal-dialog {
		position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: table;
    margin: auto;
    z-index: 999999;
    max-width: 570px;
    width: 100%;
	}
}