.nav-footer {
	.nav-footer__title {
		font-size: toRem(18);
		font-weight: $font-weight-bold;
		margin: 0 0 toRem(25) 0;
	}
	> ul {
		> li {
			margin-bottom: toRem(25);
			a {
				font-size: toRem(14);
				color: $regent-blue;
				&:hover {
					color: $solitude;
				}
			}
		}
	}

	@include respond-to-max($mobile) {
		padding: 0 toRem(35);
		margin-bottom: toRem(70);
	}
}