.navbar-default {
	border: none;
	background: $white;
	border-radius: 0;
	background: linear-gradient(to right,  rgba($white, 0.95) 30%, rgba($alabaster, 0.95) 100%);
	box-shadow: 0 toRem(3) toRem(10) rgba(0,0,0,0.09);
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 9999;
	.navbar-header {
		overflow: hidden;
	}
	.navbar-toggle {
		border: none;
		&:hover, &:focus {
			background: transparent;
		}
		.icon-bar {
			height: toRem(3);
			width: 25px;
			background: $lochmara;
		}
		+ .nav-auth {
			padding: toRem(16) toRem(13);
			.icon {
				width: toRem(25);
				height: toRem(25);
			}
		}
	}
	.navbar-brand {
		height: auto;
		padding: toRem(11) 0;
		margin-left: 0!important;

		&.navbar-brand-animate {
			transform: translate(0,100%);
			transition: transform 0.46s ease-in-out;
			&.active {
				transform: translate(0,0);
			}
		}
	}
	.navbar-nav {
		padding: toRem(15) 0;
		> li {
			font-size: toRem(12);
			font-family: $font-family-roboto;
			font-weight: $font-weight-bold;
			color: $tundora;
			padding-left: toRem(65);
			text-transform: uppercase;
			position: static!important;
			> .dropdown {
				position: absolute;
				top: toRem(50);
				left: 0;
				right: 0;
				background: $white;
				z-index: 1;
				box-shadow: 0 toRem(3) toRem(10) rgba(0,0,0,0.06), inset 0 toRem(3) toRem(15) rgba(0,0,0,0.06);
				.nav {
					display: flex;
			    align-items: center;
			    justify-content: space-between;
			    align-content: space-between;
			    flex-flow: row nowrap;
			    width: 100%;
					> li {
						&:first-child {
							padding-left: 0;
						}
						text-transform: initial;
						padding-left: toRem(30);
						font-weight: $font-weight-regular;
						&.active {
							a {
								color: $lochmara;
								background: none;
								&:before, &:after {
									display: none;
								}
							}
						}
						a {
							line-height: 1;
							color: #263238;
						}
					}
				}
			}
			&.active {
				> a {
					color: $lochmara;
					background: none;
					&:hover {
						background: transparent;
						color: $lochmara;
					}
					&:before {
						position: absolute;
						bottom: toRem(-15);
						left: toRem(-20);
						right: toRem(-20);
						height: 2px;
						background: $lochmara;
						display: block;
						content: '';
					}
					&:after {
						content: '';
						width: 0;
						height: 0;
						display: block;
						border-left: 3px solid transparent;
						border-top: 3px solid  $lochmara;
						border-right: 3px solid transparent;
						bottom: toRem(-18);
						position: absolute;
						left: 0;
						right: 0;
						margin: auto;
						z-index: 9;
					}
				}
			}
			a {
				color: $tundora;
				padding: 0;
			}

			&.nav-auth {
				a {
					color: $lochmara;
					> svg {
						vertical-align: top;
						margin-right: toRem(6);
					}
				}
			}
		}
	}

	@include respond-to-max($tablet) {
		.navbar-nav {
			li {
				padding-left: toRem(25);
			}
		}
	}

	@include respond-to-max($mobile) {
		min-height: toRem(60);
		background: #fdfdfd;
		.navbar-brand {
			padding: toRem(16) toRem(0) toRem(16) toRem(15);
		}
		.navbar-toggle {
			padding-top: toRem(13);
			padding-bottom: toRem(13);
			margin-right: toRem(7);
		}
		.navbar-nav {
			> li {
				font-size: toRem(16);
				margin-top: toRem(16);
				&:first-child {
					margin-top: 0;
				}

				> .dropdown {
					position: initial;
					top: toRem(50);
					left: 0;
					right: 0;
					background: transparent;
					box-shadow: none;
					.nav {
						display: block;
				    width: 100%;
						> li {
							&:first-child {
								padding-left: toRem(20);
							}
							padding-left: toRem(20);
						}
					}
				}

				&.active {
					a {
						&:before, &:after {
							display: none;
						}
					}
				}
			}
		}
	}
}