.process {
	padding: toRem(35) 0 toRem(45) 0;
	.process__header {
		padding-bottom: toRem(55);
		.header__title {
			font-size: toRem(60);
			font-weight: $font-weight-thin;
			color: $white;
			margin-top: toRem(35);
			margin-bottom: toRem(25);
		}
		.header__text {
			font-size: toRem(24);
			font-weight: $font-weight-light;
			color: $regent-blue;
		}
	}

	.process__steps {}
	.process__step {
		text-align: center;
		position: relative;
		padding: 0 toRem(20) toRem(50) toRem(20);
		.step__icon {
			fill: $regent-blue;
			width: toRem(78);
			height: toRem(78);
			vertical-align: bottom;
			margin-bottom: toRem(25);
		}
		.step__arrow {
			position: absolute;
			width: toRem(35);
			height: toRem(35);
			left: 100%;
			top: toRem(20);
			margin-left: toRem(-10);
			fill: rgba($regent-blue, 0.6);
		}
		.step__title {
			font-size: toRem(14);
			font-weight: $font-weight-bold;
			line-height: 1.7;
		}
		.step__text {
			font-size: toRem(14);
			line-height: 1.7;
			font-weight: $font-weight-regular;
			color: $regent-blue;
		}
	}

	@include respond-to-max($mobile) {
		.process__header {
			.header__title {
				font-size: toRem(30);
				margin-top: toRem(15);
				margin-bottom: toRem(15);
			}
			.header__text {
				font-size: toRem(18);
			}
		}
	}
}