.slick {
	.slick-slide {
		outline: none;
	}

	&.slick-no-dots {
		.slick-dots {
			display: none!important;
		}
	}

	&.slick-arrow-top1 {
		.slick-prev, .slick-next {
			top: 22%;
		}
	}
	&.slick-arrow-top2 {
		.slick-prev, .slick-next {
			top: 15%;
		}
	}

	&.slick-dark {
		.slick-prev, .slick-next {
			&:before {
				
			}
		}
	}
	.slick-prev, .slick-next {
		width: auto;
		height: auto;
		z-index: 999;
		&:before {
			font-family: 'fontello';
			color: #c9d3d8;
			font-size: toRem(60);
		}
	}
	.slick-prev {
		left: 15px;
		&:before {
			content: '\e800';
		}
	}
	.slick-next {
		right: 15px;
		&:before {
			content: '\e801';
		}
	}

	.slick-dots {
		bottom: 0;
		li button:before {
			font-size: 20px;
			color: #d0d9dd;
			opacity: 1;
		}
		li.slick-active button:before {
			color: #e81b22;
		}
	}
}