.stick {
  // display: flex;
  // flex-direction: column;

	.stick__row {
	  display: table-row;
	  height: 1px;
	} 
	.stick__row__expanded { 
	  height: 100%; 
	}

  &.stick-dropdown {
		.stick__content {
			padding-top: toRem(100);
		}
  }
  .stick__content {
	  // flex: 1;
	  padding-top: toRem(50);
	}
}